<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>main page</h1>

    <a href="/login">login</a><br>
    <a href="/logout">logout</a><br>

    <a href="/user/join">join</a><br>
</body>
</html>