<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>readBoard</title>
</head>
<body>
    <h1>board list</h1>
    <hr>

    {{#BOARDLIST}}
        <a href="/board/read/{{id}}">{{title}}</a><br>
    {{/BOARDLIST}}
</body>
</html>